.child{
    height: 100px;
    width:150px;
    background-color: pink;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.container{
    display: flex;
    gap : 20px;
    flex-wrap: wrap;

}